
*{
    color: #fff;
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
}

body{
    background-color: #04152d;
}
div{
    .img-top{
        margin: 20px;
    }
}

.main-page{
    .tittle-main{
        margin: 50px;
        text-align: center;
    }

    .aboutme{
        display: flex;
        gap: 16px; /* Space between the divs */
        margin: 0 100px;

        .aboutme-text{
            flex: 1; /* Equal width for both boxes */
            font-size: 24px;
        }
        
        .aboutme-img-side{
            flex: 1; /* Equal width for both boxes */
            height: 300px;
            width: 100px;
            // background-color: red;
            border: 1px solid red;
            div{
                background-color: black;
                width: 100px;
                height: 100px;
            }
        }
    }

    .skills{
        // width: 100%;
        margin: 50px 0;
        p{
            text-align: center;
            font-size: 30px;
        }
        div{
            img{
                height: 80px;
            }
        }
    }
}