.nav-main{
    display: flex;
    // flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    // justify-content: space-between; /* Adjust spacing responsively */
    padding: 60px 0;
    // gap: 5%; /* Adds space between nav-start and nav-last */
    
    
    .nav-start{
        flex: 1;
        p{
            padding-left: 200px;
            font-size: 50px;
        }
    }
    .nav-last{
        flex: 1;
        display: flex; /* Make the child <p> elements align horizontally */
        align-items: center; /* Vertically center the <p> elements */
        justify-content: end;
        padding-right: 100px;
        gap: 40px;
        p{
            font-size: 28px;
        }
    }
}